.reveal-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.reveal-bg {
    position: absolute;
    inset: 0;
    background: url("town.png") center/cover no-repeat;
    z-index: 1;
}


.reveal-mask {
    position: absolute;
    inset: 0;
    background: lightslategray;
    z-index: 2;


    mask-image: radial-gradient(
        circle 25px at var(--x, 50%) var(--y, 50%),
        transparent 0,
        transparent 0px,
        black 30px
    );


    -webkit-mask-image: radial-gradient(
        circle 25px at var(--x, 50%) var(--y, 50%),
        transparent 0,
        transparent 100px,
        black 30px
    );

    transition: mask-image 0.1s, -webkit-mask-image 0.1s;
}


.reveal-content {
    position: relative;
    z-index: 3;
    color: white;
    padding: 4rem;
    font-family: sans-serif;
}
